body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  header {
    background-color: rgba(184, 140, 140, 0.8);
    color: #fff;
    padding: 20px;
  }


  img {
    width: 10%;
    height: 10%;
    
  
    
}

.grid{
    display: flex;    
    justify-content: center;
    align-items: center;
}