*{
    border: none;
    padding: 0px;
    margin: 2px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(120deg, #ffe53db8);
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    text-align: center;
    
}

button{
    height: 2.5em;
    width: 5.5em;
    border: none;
    color: white;
}

.start-btn{
    background-color: green;
}

.pause-btn{
    background-color: grey;
}

.stop-btn{
    background-color: red;
}


#timer {
    background-color: #333;
    color: #0f0;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    padding: 10px 20px;
    justify-content: center;
    width: 250px;
    border-radius: 10px;
    border: 5px solid #888;
}