/*
https://www.cssportal.com/css-loader-generator/
*/

*{
    border: none;
    padding: 0px;
    margin: 2px;
    box-sizing: border-box;
}

body{
    height: 100vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
}


button{
    height: 2.5em;
    width: 5.5em;
    border: saddlebrown;
    color: white;
    cursor: pointer;
}

.start-btn{
    background-color: green;
}

.pause-btn{
    background-color: grey;
}

.stop-btn{
    background-color: red;
}


#timer {
    background-color: #333;
    color: #0f0;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    padding: 10px 20px;
    justify-content: center;
    width: 250px;
    border-radius: 10px;
    border: 5px solid #888;
}


.custom-loader {
    width:50px;
    height:50px;
    border-radius:50%;
    background:conic-gradient(#0000 10%,#766DF4);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 1s infinite linear;
  }
  @keyframes s3 {to{transform: rotate(1turn)}}